<header class="header">
  <div class="header-container">
    <div class="logo">
      <span class="logo-icon">💬</span>
      <h1><a routerLink="/">TalkChat</a></h1>
    </div>
    <div class="auth-buttons">
      @if (!(isLoggedIn$ | async)) {<button class="btn login-btn" routerLink="/signIn">
        Войти
      </button>}
      @else {<button *ngIf="isLoggedIn$ | async" class="btn login-btn" routerLink="/profile" >
        Профиль
      </button>
      <button *ngIf="isLoggedIn$ | async" (click)="logout()" class="btn login-btn">
        Выйти
      </button>}
    </div>
  </div>
</header>
